@import './src/constants';

.Details {

  &__summary {
    cursor: pointer;

    &::marker {
      color: #113355;
    }

    &--pointer,
    &Pointer {
      &:hover {
        color: $hoverColor;
      }
    }

    &:hover {
      &::marker {
        color: $hoverColor;
      }
    }
  }

  &__content--leftPadding {
    padding-left: 2em;
  }

}