.Details {

  &__summary {
    cursor: pointer;

    &::marker {
      color: #113355;
    }

    &--pointer,
    &Pointer {
      &:hover {
        color: #cb2e3c;
      }
    }

    &:hover {
      &::marker {
        color: #cb2e3c;
      }
    }
  }

  &__content {
    padding-left: 2em;
  }

}