.Projects {
    & .Article {
        &__title {
            display: inline;
        }

        &__content > * {
            margin-top: 0.75em;
        }
    }
}

.Projects__hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #777;
}
