.Experience {
}

.Experience__duties__ul {
    margin: 0.5em 0;
}

.Experience__description,
.Experience__duties,
.Experience__tasks {
    margin: 5px 0 10px 0;
}
.Experience__work__ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 30px;
    line-height: 170%;
}

.Experience {
    .ArticleBlock__logo {
        float: right;
        width: 80px;
        margin: 0 0 20px 20px;
    }
}

@media screen and (max-width: 550px) {
    .Experience {
        .ArticleBlock__logo {
            width: 40px;
        }
    }
}
