@import './src/constants';

.Header {
    font-size: 0.85rem;
    display: flex;
    align-content: space-between;
}

.Header__block {
    width: 33.33%;
}
.Header__block--center {
    text-align: center;
}
.Header__block--right {
    text-align: right;
}

@include mobile {
    .Header {
        display: block;
    }
    .Header__block {
        width: 100%;
    }
    .Header__block--center,
    .Header__block--right {
        text-align: left;
    }
}
