.application-origin a {
    color: #396fcc;
}

.application-origin hr {
    background-color: #ccc;
    border-width: 0;
    height: 1px;
    margin: 20px 0;
}

.application-origin .block {
    background-color: #fff;
    padding: 20px 30px 10px 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    font-size: 90%;
    line-height: 150%;
}

.application-origin .block h2 {
    font-weight: lighter;
    color: #afb2b5;
    margin: 0 0 10px 0;
    font-size: 145%;
}


.application-origin .profile .photo {
    display: block;
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto 10px auto;
}
.application-origin .profile .block-right {
    width: 49%;
    float: right;
}
@media screen and (max-width: 620px) {
    .application-origin .profile .block-right {
        width: 100%;
        float: none;
    }
}
.application-origin .profile .name {
    font-size: 167%;
    font-weight: bold;
    line-height: 150%;
}
.application-origin .profile .headline {
    font-size: 111%;
    line-height: 200%;
}
.application-origin .profile .country {
    font-size: 95%;
    line-height: 170%;
    color: #66696a;
}
.application-origin .profile .row {
    width: 100%;
    content: "";
    display: block;
    clear: both;
    margin-top: 13px;
    line-height: 108%;
}
.application-origin .profile .row .column.left {
    width: 15%;
    color: #999;
    font-size: 90%;
    float: left;
}
.application-origin .profile .row .column.right {
}
@media screen and (max-width: 400px) {
    .application-origin .profile .row .column.left {
        width: 100%;
        color: #999;
        font-size: 90%;
        float: none;
    }
    .application-origin .profile .row .column.right {
    }
}

.application-origin .summary{
    width: 100%;
}
.application-origin .summary::after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10px;
}
.application-origin .summary .part {
    box-sizing: border-box;
}
.application-origin .summary .part.left {
    width: 45%;
    float: left;
}
.application-origin .summary .part.right {
    width: 50%;
    float: right;
    padding-left: 20px;
}
.application-origin .summary .tech-list {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    line-height: 170%;
}

@media screen and (max-width: 650px) {
    .application-origin .summary .part.left {
        width: 100%;
        float: none;
    }
    .application-origin .summary .part.right {
        width: 100%;
        float: none;
        padding-left: 20px;
    }
}


.application-origin .experience{
}
.application-origin .experience .work .logo{
    float: right;
    width: 80px;
    margin: 0 0 20px 20px;
}
.application-origin .experience .work .title{
    font-size: 140%;
    font-weight: bold;
    margin: 20px 0 6px 0;
}
.application-origin .experience .work .title .visa{
    font-size: 80%;
    font-weight: lighter;
    vertical-align: text-bottom;
}
.application-origin .experience .work .company{
    font-size: 120%;
    color: #66696a;
    margin: 0 0 4px 0;
}
.application-origin .experience .work .period{
    color: #66696a;
    margin: 0 0 10px;
}
.application-origin .experience .work .description,
.application-origin .experience .work .duties,
.application-origin .experience .work .tasks {
    margin: 5px 0 10px 0;
}
.application-origin .experience .work ul{
    list-style-type: disc;
    margin: 0;
    padding: 0 0 0 30px;
    line-height: 170%;
}
@media screen and (max-width: 550px) {
    .application-origin .experience .work .logo{
        float: right;
        width: 40px;
        margin: 0 0 20px 20px;
    }
    .application-origin .experience .work .title .visa{
        display: block;
        font-size: 80%;
        font-weight: lighter;
        vertical-align: text-bottom;
    }
}

.application-origin .projects .project{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10px;
}
.application-origin .projects .project .icon {
    width: 120px;
    float:left;
    margin: 0 20px 10px 0;
}
.application-origin .projects .project .title{
    font-size: 140%;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
@media screen and (max-width: 550px) {
    .application-origin .projects .project .icon {
        width: 60px;
        float:left;
        margin: 0 20px 10px 0;
    }
}

.application-origin .awards .award{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 10px;
}
.application-origin .awards .award .icon {
    width: 80px;
    float:left;
    margin: 0 20px 30px 0;
}
.application-origin .awards .award .title{
    font-size: 140%;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.application-origin .awards .award .organizer{
    font-size: 120%;
    color: #66696a;
    margin: 0 0 4px 0;
}
@media screen and (max-width: 550px) {
    .application-origin .awards .award .icon {
        width: 40px;
        float:left;
        margin: 0 20px 10px 0;
    }
}

.application-origin .education .school .title{
    font-size: 140%;
    font-weight: bold;
    margin: 20px 0 6px 0;
}
.application-origin .education .school .degree{
    font-size: 120%;
    color: #66696a;
    margin: 0 0 4px 0;
}
.application-origin .education .school .period{
    color: #66696a;
    margin: 0 0 10px;
}
