.Awards {

    .Article {
        &__logo {
            width: 3em;
        }

        &__title {
            display: inline;
        }
    }

    @media screen and (max-width: 550px) {
        .Article__logo {
            width: 2em;
        }
    }
}

.Awards__hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #777;
}
