@import './constants';

.print-only {
    display: none !important;
}
@media print {
    .no-print {
        display: none !important;
    }
    .print-only {
        display: block !important;
    }
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e9e9e9;
    font-family: sans-serif;

    @media print {
        background-color: #fff;
    }
}

.justify {
    text-align: justify;
}

p {
    margin: 0;
}

a {
    color: $linkColor;
}
a:hover {
    color: $hoverColor;
}

h1, h2 {
    font-weight: normal;
}
